body {
  font-family: 'roboto', sans-serif;
  font-size: $primaryFontSize;
  font-weight: 600;
  background-color: $primaryBgColor;
  color: $primaryTextColor;
  padding-top: 104px;
 @media screen and (min-width:768px) {
  padding-top: 136px;
 }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.body-scroll {
  overflow: hidden;
}
