// .blog-article {
//   // padding: 40px 16px 48px 16px;

//   // @media screen and (min-width: 768px) {
//   //   padding: 120px 40px 120px 40px;
//   // }

//   // @media screen and (min-width: 1280px) {
//   //   padding-top: 112px;
//   // }
// }



.blog-article-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: $secondaryTextColor;
  // margin-bottom: 16px;
  width: 100%;
  min-width: 320px;
  // margin: 0 auto;
  // padding: 0 16px;
  padding: 0 16px 0 16px;
  margin: 40px auto 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding: 0 16px 0 16px;
    margin: 40px auto 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 40px;
    font-size: 56px;
    line-height: 1;
    padding: 0 40px 0 40px;
    margin: 120px auto 24px auto;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    margin: 112px auto 16px auto;
  }
}

.container__title {
  display: flex;
  align-items: flex-end;
  padding-bottom: 16px;
  overflow: hidden;
  margin: 0;

  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }
}

.title__b1 {
  margin-left: -800px;
  height: 8px;
  border-bottom: 1px solid $curlineTopColor;
  border-right: 1px solid $curlineTopColor;
  background-color: inherit;

  @media screen and (min-width: 768px) {
    height: 19px;
  }
}

.title__b2 {
  height: $lineShink;
  margin-right: -$lineShink;
  margin-left: -800px;
  border-bottom: 1px solid $curlineBottomColor;

  background-color: inherit;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);

  @media screen and (min-width: 768px) {
    $lineShink: 8px;
    height: $lineShink;
    margin-right: -$lineShink;
  }
}

.title__b3 {
  width: 105%;
  height: $lineShink;
  border-top: 1px solid $curlineTopColor;

  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  background-color: inherit;

  @media screen and (min-width: 768px) {
    $lineShink: 8px;
    height: $lineShink;
  }
}

.title__b4 {
  width: 105%;
  height: 8px;
  margin-left: $lineShink;
  border-top: 1px solid $curlineBottomColor;
  border-left: 1px solid $curlineBottomColor;
  background-color: inherit;

  @media screen and (min-width: 768px) {
    $lineShink: 8px;
    height: 19px;
    margin-left: $lineShink;
  }
}

.title__left {
  margin-left: 0;
  margin-left: calc(((100% - 320px) / 2) + 121px);

  @media screen and (min-width: 480px) {
    margin-left: calc(((100% - 480px) / 2) + 230px);
  }

  @media screen and (min-width: 768px) {
    margin-left: calc(((100% - 768px) / 2) + 262px);
  }

  @media screen and (min-width: 1280px) {
    margin-left: calc(((100% - 1280px) / 2) + 420px);
  }
}

.title__right {
  width: 100%;
}

.img-for-mob {
  @media screen and (max-width: 479px) {
    width: 100%;
    min-width: 320px;
    min-height: 228px;
    // margin-left: auto;
    // margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto 20px auto;

    background-image: url(../images/blog-article/blog-article-1x-320.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/blog-article/blog-article-2x-320.jpg);
      }
    }
  }
}

.blog-article-images {
  // margin-bottom: 20px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  display: none;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 12px;
    margin-bottom: 0;

    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.img-content {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    margin-bottom: 48px;
  }
}

.wrap {
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.hidden-start {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    max-width: 690px;
  }
}

.hidden-end {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.img-text {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: inline-block;
    max-width: 263px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}

.blog-article-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: $secondaryTextColor;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    color: $btnBgColor;
    margin-bottom: 32px;
  }
}

.blog-article-desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: $secondTextColor;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.comm-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: $secondaryTextColor;

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.blog-article-text:not(:last-child) {
  margin-bottom: 16px;
}

.blog-article-subject {
  @media screen and (min-width: 768px) {
    color: $primaryTextColor;
  }
}

.blog-article-list-sub {
  text-indent: 5px;

  @media screen and (min-width: 768px) {
    color: $primaryTextColor;
  }
}

.blog-article-list {
  color: $secondaryTextColor;
  padding: 0;
  margin: 0 0 16px 25px;

  @media screen and (min-width: 1280px) {
    padding: 10px;
  }
}

.blog-article-item {
  list-style: decimal;

  @media screen and (min-width: 768px) {
    color: $primaryTextColor;
  }
}



.like-button-wraper{
  
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;;
    flex-direction: column;

    row-gap: 15px;
    max-width: 100px;
    margin: auto;
    margin-top: 30px;
  }
  
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    margin-top: 60px; 
  }
  
}




.like-btn{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid $btnBgColor;
  border-radius: 16px;
  padding: 10px 18px ;
  min-width: 180px;
  
  @media screen and (max-width:1279px) {
    // min-width: 152px;
    padding: 8px 14px ;
  }
  &-cool{
    background-color:$btnBgColor ;
    
  }
  @include mobile-only{
   padding: 7px 12px;
   min-width: 100px;
  }
  
}
.like-btn-bad:active .like-btn-icon-color{
  stroke: $primaryBgColor;
}
.like-btn-bad:active .like-btn-text{
  color: $primaryBgColor;
}

.like-btn-text{
font-weight: 700;
font-size: 32px;
line-height: calc(38/32);
text-transform: uppercase;
color: $btnBgColor;
transition: all 250ms linear;

@media screen and (max-width:1279px) {
  font-size: 24px;
}
&-cool{
  color: $primaryBgColor;
}
@include mobile-only{
  font-size: 16px;
line-height: calc(22/16);
}
}

.like-btn-icon{
  margin-right: 12px;
  pointer-events: none;
  transition: all 250ms linear;
&-color{
  stroke:$primaryTextColor;
  
}

@include mobile-only{
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
 
}




$fuschia: #86e543;
$button-bg: #fff;
$baby-blue: #f8faff;

.bubbly-button{


  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.8);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}