@media screen and (min-width: 1280px) {
    .blog-page {
        background-image: url(../images/blog-page/desctop/d_bg@1x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1280px),
screen and (min-resolution: 192dpi) and (min-width:1280px),
screen and (min-resolution: 2dppx) and (min-width:1280px) {
    .blog-page {
        background-image: url(../images/blog-page/desctop/d_bg@2x.jpg);
    }
}

@media screen and (min-width:768px) and (max-width:1279px) {
    .blog-page {
        background-image: url(../images/blog-page/tablet/t_bg@1x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .blog-page {
        background-image: url(../images/blog-page/tablet/t_bg@2x.jpg);
    }
}

.container__title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 16px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        padding-bottom: 24px;
    }
}

.title__b1 {

    margin-left: -500px;
    height: 8px;
    border-bottom: 1px solid $curlineTopColor;
    border-right: 1px solid $curlineTopColor;
    background-color: inherit;

    @media screen and (min-width: 768px) {
        height: 19px;
    }
}

.title__b2 {
    height: $lineShink;
    margin-right: -$lineShink;
    margin-left: -500px;
    border-bottom: 1px solid $curlineBottomColor;

    background-color: inherit;
    box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);

    @media screen and (min-width: 768px) {
        $lineShink: 8px;
        height: $lineShink;
        margin-right: -$lineShink;
    }


}

.title__b3 {
    width: 105%;
    height: $lineShink;
    border-top: 1px solid $curlineTopColor;

    box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
    background-color: inherit;

    @media screen and (min-width: 768px) {
        $lineShink: 8px;
        height: $lineShink;
    }
}

.title__b4 {
    width: 105%;
    height: 8px;
    margin-left: $lineShink;
    border-top: 1px solid $curlineBottomColor;
    border-left: 1px solid $curlineBottomColor;
    // box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
    background-color: inherit;

    @media screen and (min-width: 768px) {
        $lineShink: 8px;
        height: 19px;
        margin-left: $lineShink;

    }
}

.title__left-blog {
    // min-width: 280px;
    margin-left: calc(((100% - 550px) / 2) + 20px);

    @media screen and (min-width: 480px) {

        margin-left: calc(((100% - 480px) / 2) + 12px);
    }

    @media screen and (min-width: 768px) {

        margin-left: calc(((100% - 768px) / 2) + 104px);
    }

    @media screen and (min-width: 1280px) {

        margin-left: calc(((100% - 1280px) / 2) + 142px);
    }
}

.title__right {
    width: 100%;
}

.title__name {
    // width: 768px;
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    color: $secondaryTextColor;
    // text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 56px;
        line-height: 1.18;
    }
}

// ======== Title ======== //
.img-container {
    display: flex;
}

.blog-img {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
}

.blog-list-container {
    display: flex;
    margin-bottom: 40px;
}

.blog-list-title {
    font-weight: 500;
    letter-spacing: 0em;
    color: $secondaryTextColor;
}

.blog-list-suptitle {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1;
    color: $secondaryTextColor;
}

.blog-list-suptitle.color {
    color: $linkTextColor;
}

.blog-list-content {
    font-weight: 400;
    letter-spacing: 0em;
    color: $secondaryTextColor;
}

.link {
    color: $btnBgColor;
    display: flex;
    justify-content: right;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {

        text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 0px 4px 10px rgba(134, 229, 67, 0.1);
    }
}



.blog-slider {
    justify-content: center;
    align-items: center;
    display: flex;
}

.slider-item:first-child {
    width: 40px;
    margin-left: 0;
}

.slider-item {
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 16px;
}

@media screen and (min-width: 1280px) {

    .only-desctop {
        width: 387px;
        height: 364px;
    }

    .only-mobile-tablet {
        display: none;
    }

    .blog-list-item-container {
        padding-left: 121px;
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1279px) {
    .only-desctop {
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width:1279px) {
    .only-tablet {
        display: flex;
        margin-bottom: 16px;
        gap: 40px;
        align-items: flex-end;
    }

    .title-container {
        max-width: 263px;
    }

    .color {
        margin-top: 32px;
    }
}

@media screen and (min-width:768px) {
    .blog-page {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .blog-list {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .blog-list-title {
        font-size: 56px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0em;
        color: $secondaryTextColor;
        margin-bottom: 52px;
    }

    .blog-list-title.midle {
        margin-bottom: 24px;
    }

    .blog-list-content {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.17;
    }

    .blog-list-content-first {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.17;
        color: $secondaryTextColor;
    }

    .link {
        margin-top: 16px;
    }
}

@media screen and (max-width:767px) {

    .blog-page {
        padding-top: 40px;
        padding-bottom: 48px;
    }

    .blog-list {
        padding-top: 20px;
    }

    .title-container {
        margin-bottom: 16px;
    }

    .blog-list-title {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 16px;
    }

    .blog-list-suptitle {
        font-size: 16px;
        margin-top: 8px;
    }

    .blog-list-content {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        // margin-top: 16px;
    }

    .blog-list-content-first {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        color: $secondaryTextColor;
    }

    .link {
        margin-top: 8px;
    }
}