.contacts-bgr {
  padding: 0;

  border-top: 0px shadow 0px 4px 4px rgba(17, 168, 26, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 10px rgba(97, 162, 58, 0.2);

  //     background-size: cover;
  //     background-attachment: scroll;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-image: url(../images/contacts/mobil-bgr.jpg);
  //     max-width: 450px;
}

.contacts-page {
  padding-top: 40px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

// .contacts-page__container {

// }

// .container {}

// .contacts-page__group {}

.contacts-page__group .title__left {
  margin-left: 0;
  // margin-right: 90px;
}

.contacts-page__group .title__name {
  font-size: 24px;
  font-weight: 600;
  line-height: calc(28 / 24);
  letter-spacing: 0em;
  color: $secondaryTextColor;
  margin-bottom: 8px;
  margin-left: 16px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    font-weight: 600;
    line-height: calc(66 / 56);
    letter-spacing: 0em;
    margin-bottom: 8px;
    margin-left: 99px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 144px;
  }
}

.contacts-page__group .container__title {
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 48px;
  }
}

.contacts-page__img-box {
  width: 100%;
  max-width: 450px;
  height: 346px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  //Mobile img
  background-image: url(../images/contacts/contacts_sd-@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/contacts/contacts_sd-@2x.jpg);
    }
  }

  @media screen and (min-width: 450px) {
    border-radius: 12px;
  }

  //Tablet img
  @media screen and (min-width: 768px) {
    max-width: 688px;
    height: 346px;

    background-image: url(../images/contacts/contacts_md-@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts/contacts_md-@2x.jpg);
    }
  }

  //Desktop img
  @media screen and (min-width: 1280px) {
    background-image: url(../images/contacts/contacts_ld-@1x.jpg);
    width: 1200px;
    height: 346px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts/contacts_ld-@2x.jpg);
    }
  }
}

.contacts__general {
  padding-top: 16px;
}

.contacts__container {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);
  letter-spacing: 0em;
  color: $secondaryTextColor;
  // padding-top: 16px;
  // padding-bottom: 24px;
  // margin-left: 16px;

  // @media screen and (min-width: 450px) {
  //     margin-left: 40px;
  //     margin-right: 40px;
  // }

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.contacts__box {
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 768px) {
    // padding: 32px 0px 0px 0px;
    padding-top: 32px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    // padding: 59px 40px 0px 40px;
    padding-top: 60px;
  }
}

.contacts__info-box {
  margin-bottom: 24px;

  &:not(:first-child) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.contacts__order-info {
  margin-bottom: 24px;
}

// .contacts__info-box {

// }

.contacts__box .contacts__link {
  text-decoration: none;
  color: $linkTextColor;
  // margin-bottom: 24px;
}

// .contacts-page__shop-contacts {
//     padding-bottom: 24px;
//     padding-top: 24px;
// }

.contacts__mail {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.contacts-title {
  margin-bottom: 8px;
}

// .contacts-page__mail {}

// .contacts-page__tel {
//     &:not(:last-child){
//         margin-bottom: 8px;
//     }
// }

// .contacts__tel-group {

// }

// .contacts__tel-list {}

// .contacts__tel {}

// .contacts-page__tel-link {}

.contacts__form-section {
  padding-top: 24px;
  // padding: 16px 16px 0px 16px;

  @media screen and (min-width: 768px) {
    // padding: 32px 0px 0px 0px;
    padding-top: 32px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    // padding: 59px 40px 0px 40px;
    padding-top: 60px;
  }
}

.contacts-page__form-group {
  padding-left: 16px;
  padding-right: 16px;
}

.contacts__form-name {
  // margin-bottom: 16px;

  text-transform: uppercase;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0em;
  color: $primaryTextColor;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
    font-size: 36px;
  }
}

.contacts-form {
  // width: 100%;
  // padding-left: 16px;
  margin-top: 16px;
}

.call-back-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-back-lable {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(20 / 16);
  letter-spacing: 0em;
}

.call-back-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $curlineBottomColor;
  width: 100%;
  min-width: 289px;
  max-width: 591px;

  &:last-child {
    margin-bottom: 40px;
  }
}

.call-back-textarea {
  width: 100%;
  height: 95px;
  margin-bottom: 24px;
  background-color: transparent;
  border: 1px solid $curlineBottomColor;
}

.call-back-button {
  height: 51px;
  width: 173px;
  // left: 74px;
  // top: 1151px;
  border-radius: 16px;
  // padding: 16px 20px 16px 20px;
  border: 1px solid $secondaryTextColor;
  background: transparent;
}

.call-back-button-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(19 / 16);
  letter-spacing: 0em;
  color: $secondaryTextColor;
}
