@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.woff) format('woff'),
    url(../fonts/Roboto-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.woff) format('woff'),
    url(../fonts/Roboto-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(../fonts/RobotoCondensed-Regular.woff) format('woff'),
    url(../fonts/RobotoCondensed-Regular.woff2) format('woff2');
  font-weight: 400;
  font-stretch: condensed;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-SemiBold.woff) format('woff'),
    url(../fonts/OpenSans-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}
