.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  // display: flex;
  width: 100%;
  box-shadow: $boxShadow;
  background-color: $primaryBgColor;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1279px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.header__mobile {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__navigation {
  gap: 48px;

  @media screen and (max-width: 1279px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.header__link {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $secondaryTextColor;
  transition: text-shadow $durationFunction $timingFunction;
  &:hover,
  &:focus {
    text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5),
      0px 4px 10px rgba(134, 229, 67, 0.1);
  }
  &::after {
    position: absolute;
    top: 100%;
    display: flex;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $btnBgColor;
    transform: scale(0);
    transition: transform $durationFunction $timingFunction;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}
.header__button {
  background: $btnBgColor;
  border-radius: 16px;
  width: 95px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  color: $shopNowButton;
  transition: all $durationFunction $timingFunction;
  &:hover,
  &:focus {
    box-shadow: $boxShadow;
  }
}

// -------------------мобила-планшет---------------------------

.mob-menu-wraper {
  @media screen and(min-width:1279px) {
    display: none;
  }
}
.logo {
  display: inline-block;
  padding: 24px 0;
  max-width: 115px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-transform: uppercase;
  text-align: center;
  color: $secondaryTextColor;
  @include tablet {
    padding: 40px 0;
  }
  transition: text-shadow $durationFunction $timingFunction;
  &:hover,
  &:focus {
    text-shadow: $boxShadow;
  }
}

.burger-wraper {
  display: flex;
  align-items: center;
  z-index: 15;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.burger-menu.is-open::before {
  transform: rotate(45deg);
  top: 14px;
  width: 44px;
  margin-left: 5px;

  transition: all 300ms ease-in;
}

.burger-menu.is-open::after {
  transform: rotate(-45deg);
  bottom: 14px;
  width: 44px;
  margin-left: 5px;

  transition: all 300ms ease-in;
}

.burger-menu.is-open .burger-menu-item {
  transform: scale(0);
  transition: all 300ms ease-in;
}

.burger-menu {
  position: relative;
  display: block;
  width: 54px;
  height: 36px;
  cursor: pointer;
  padding: 15px 0;
  @include mobile-only {
    margin-left: auto;
  }
}

.burger-menu:hover.burger-menu::before {
  background-color: $secondaryTextColor;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5),
    0px 4px 10px rgba(134, 229, 67, 0.1);
}
.burger-menu:hover.burger-menu::after {
  background-color: $secondaryTextColor;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5),
    0px 4px 10px rgba(134, 229, 67, 0.1);
}
.burger-menu:hover .burger-menu-item {
  background-color: $secondaryTextColor;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5),
    0px 4px 10px rgba(134, 229, 67, 0.1);
}

.burger-menu::before,
.burger-menu::after {
  content: '';
  background-color: $btnBgColor;
  position: absolute;
  width: 100%;
  height: 3.6px;
  left: 0;
  border-radius: 40px;
  transition: transform 500ms ease,
    background-color $durationFunction $timingFunction;

  margin: 2px 0px;
}

.burger-menu::before {
  top: 0;
}

.burger-menu::after {
  bottom: 0;
}

.burger-menu-item {
  position: absolute;
  background-color: $btnBgColor;
  width: 100%;
  height: 3.6px;
  left: 0;
  top: 16.2px;
  border-radius: 40px;
  transition: background-color $durationFunction $timingFunction;
}

.menu {
  background-color: black;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 104;
  @include tablet {
    top: 136;
  }
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-101%);
  transition: opacity 400ms linear, transform 700ms ease-in-out;

  &.is-open {
    background-image: url('../images/mobile-menu/bg-m1x.png');
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 13px 20px rgb(134 229 67 / 50%),
      0 4px 10px rgb(255 255 255 / 10%);
    transition: opacity 400ms linear, transform 500ms ease-in-out;
  }
}

.menu-list {
  position: absolute;
  text-align: center;
  margin-top: 64px;
  @include tablet {
    margin-top: 120px;
  }
}
.menu-item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}
.menu-link {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);

  @include tablet {
    font-size: 32px;
    line-height: calc(38 / 32);
  }
  text-transform: uppercase;
  transition: all 300ms ease-out;
  color: $secondaryTextColor;

  &:hover,
  &:focus {
    color: $btnBgColor;

    text-shadow: $boxShadow;
  }
}

.mobile-header-link {
  @include mobile-only {
    display: none;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 1.58;
  padding: 8px 18px;
  letter-spacing: -0.03em;
  color: $shopNowButton;
  border-radius: 16px;
  background-color: $btnBgColor;
  transition: box-shadow $durationFunction $timingFunction;
  &:hover,
  &:focus {
    box-shadow: $boxShadow;
  }
}
