.hero {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: -104px;
  background-image: url(../images/hero/Framemob.png);
  // background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 768px) {
    // background-position: center 15px;
    margin-top: -104px;
  }
  @media screen and (min-width: 768px) {
    margin-top: -136px;
    background-image: url(../images/hero/Frametab.png);
  }
  @media screen and (min-width: 1279px) {
    background-image: url(../images/hero/Framedesk.png);
  }
}

.hero-bg {
  margin: 0 auto;
  min-width: 320px;
  background-image: url(../images/hero/Fon_heromob.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    max-width: 635px;
    // background-position: -200px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 930px;
    // background-size: contain;
    // background-image: url(../images/hero/Fon_heromob.png);
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    background-image: url(../images/hero/Fon_herodesk.png);
  }
}
.hero-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 601px;
  background-repeat: no-repeat;
  background-color: transparent;

  background-position: top 104px left 16px;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    height: 860px;
  }
}

.hero-box {
  margin-top: 180px;
  @media screen and (min-width: 768px) {
    margin-top: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 130px;
    margin-left: 126px;
  }
}
.hero-text {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 1.19;
  color: $secondaryTextColor;
  max-width: 247px;

  & span {
    white-space: nowrap;
  }

  //   @media screen and (max-width: 767px) {
  //    margin: auto;
  //   }
  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 0;

    max-width: 388px;
    font-size: 56px;
    line-height: 1.18;
    & span {
      white-space: normal;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 515px;
    font-size: 64px;
    line-height: 1.18;
  }
}

.hero-btn {
  display: flex;
  max-width: 173px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  cursor: pointer;
  color: $primaryBgColor;
  background-color: $btnBgColor;
  border-radius: 16px;
  padding: 16px 20px;

  @media screen and (max-width: 767px) {
    margin: auto;
  }

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 1.19;
    margin-top: 94px;
    max-width: 306px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 40px;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $btnBgColor;
    box-shadow: $boxShadow;
  }
}
