.sale {
  // width: 100%;
  // min-width: 320px;
  // margin: 0 auto;
  padding: 0 18px 48px 18px;

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  @media screen and (min-width: 768px) {
    // width: 768px;
    padding: 0 80px 120px 80px;
  }

  @media screen and (min-width: 1280px) {
    // width: 1280px;
    padding: 0 40px 120px 40px;
  }
}

.sale-section-title {
  margin-bottom: 43px;
  font-size: 24px;
  line-height: 1.17;
  color: $secondaryTextColor;
  @include tablet {
    font-size: 56px;
    line-height: 1.18;
  }

}

.sale-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 38px;
  }

  @include desktop {
    gap: 20px;
  }

}


.sale-item {
  width: 100%;
  // @include mobile {

  // }
  @include tablet {
    width: calc((100% - 38px)/2);
  }

  @include desktop {
    width: calc((100% - 60px)/4);
  }

  // outline: 1px solid tomato;
}

.sale-item:nth-child(n+5) {
  display: none;

  @include tablet {
    display: block;
  }
}


.sale-img {
  width: 100%;
  border-radius: 12px;
}

.sale-title {
  max-width: 261px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 22px;
  line-height: 1.18;
  color: $hoverColor;
  padding-left: 8px;
  padding-right: 16px;
}

.sale-old-price {
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: $linkTextColor;
}

.sale-new-price {
  font-size: 20px;
  line-height: 100%;
  color: $hoverColor;
}

.sale-price {
  display: flex;
  gap: 80px;
  align-items: center;
  padding-left: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
}

.sale-btn {
  display: flex;
  max-width: 153px;

  cursor: pointer;
  padding: 16px 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: $primaryBgColor;
  background-color: $secondaryTextColor;
  border-radius: 16px;
  margin-top: 44px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;

  // border-style: none;
  @include tablet {
    font-size: 28px;
    line-height: 1.18;
    max-width: 195px;
  }

  transition: box-shadow 250ms $timingFunction;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 0px 4px 10px rgba(134, 229, 67, 0.1);
  }
}

// .sale-bg {
//     background-color: $primaryBgColor;
//     // background-color: transparent;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center bottom;

//     background-image: url(../images/accessories-page/accessories_m-1x.jpg);

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//         & {
//             background-image:
//                 url(../images/accessories-page/accessories_m-2x.jpg);
//         }
//     }

//     @media screen and (min-width: 768px) {
//         background-size: 768px;
//         background-image: url(../images/accessories-page/accessories_t-1x.jpg);


//         @media (min-device-pixel-ratio: 2),
//         (min-resolution: 192dpi),
//         (min-resolution: 2dppx) {
//             & {
//                 background-image: url(../images/accessories-page/accessories_t-2x.jpg);
//             }
//         }
//     }

//     @media screen and (min-width: 1280px) {
//         background-size: 1280px;
//         background-image: url(../images/accessories-page/accessories_d-1x.jpg);

//         @media (min-device-pixel-ratio: 2),
//         (min-resolution: 192dpi),
//         (min-resolution: 2dppx) {
//             & {
//                 background-image: url(../images/accessories-page/accessories_d-2x.jpg);
//             }
//         }
//     }
// }