@import './fonts';
@import './variables';
@import './base';
@import './common';
@import './visuallyHiden';
@import './mixins/mixins';
// @import './modal';
// @import './container';
@import './section';
@import './header';
// @import './hero';
// @import './gallery';
// @import './sale';
@import './accessories-page';
// @import './take-order-page';
// @import './take-order-dropdown';
// @import './contacts-page';
// @import './blog-page';
// @import './blog-article-page';
@import './footer';
