<div class="container__title">
  <div class="title__left">
    <h1 class="title__name">All accessories</h1>
    <div class="title__b1"></div>
    <div class="title__b2"></div>
  </div>

  <div class="title__right">
    <div class="title__b3"></div>
    <div class="title__b4"></div>
  </div>
</div>

<div class="container__product">
  <div class="container-overflow">
    <ul class="product">
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_01-1x.jpg 1x,
                  ./images/accessories-page/product_01-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_01-1x.jpg"
                width="285"
                height="276"
                alt="Product 01"
                title="Product 01"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                100% Brand new and high quality! <br />
                <br />
                Ergonomic in design makes it more adjustable to use. <br />
                <br />
                More fashionable for your daily use, such as playing games.
                <br />
                <br />
                Built-in high sensitivity and noise reduction microphone. <br />
                <br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">Xiberia K9 PRO PC Headset</h2>
            <span class="product__old-price">65.14 USD</span>
            <span class="product__price">55.14 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_02-1x.jpg 1x,
                  ./images/accessories-page/product_02-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_02-1x.jpg"
                width="285"
                height="276"
                alt="Product 02"
                title="Product 02"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                minima quidem, laborum corrupti explicabo autem, cupiditate,
                earum temporibus iusto culpa doloribus amet.
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">G95 Light Surround Gaming Headset</h2>
            <span class="product__old-price">72.78 USD</span>
            <span class="product__price">51.78 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_03-1x.jpg 1x,
                  ./images/accessories-page/product_03-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_03-1x.jpg"
                width="285"
                height="276"
                alt="Product 03"
                title="Product 03"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                libero ab suscipit debitis, facere illum et molestiae, atque,
                dolor eum accusantium. Qui, accusantium!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">
              Malloom 1200 DPI 2.4Ghz Wireless Mouse
            </h2>
            <span class="product__old-price">44.24 USD</span>
            <span class="product__price">29.93 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_04-1x.jpg 1x,
                  ./images/accessories-page/product_04-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_04-1x.jpg"
                width="285"
                height="276"
                alt="Product 04"
                title="Product 04"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex qui
                mollitia dicta reiciendis. Ipsa ex expedita, quisquam quasi
                animi error voluptas quibusdam?
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">
              Steampunk Anti-Ghosting Mechanical Keyboard
            </h2>
            <span class="product__old-price">160.00 USD</span>
            <span class="product__price">110.00 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_05-1x.jpg 1x,
                  ./images/accessories-page/product_05-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_05-1x.jpg"
                width="285"
                height="276"
                alt="Product 05"
                title="Product 05"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae
                fugit modi repellat officiis. Atque alias libero nisi temporibus
                dolore saepe beatae, doloremque autem?
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">Xiberia K9 PRO PC Headset</h2>
            <span class="product__old-price">156.00 USD</span>
            <span class="product__price">116.00 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_06-1x.jpg 1x,
                  ./images/accessories-page/product_06-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_06-1x.jpg"
                width="285"
                height="276"
                alt="Product 06"
                title="Product 06"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptate fugit optio, modi cum maiores quae! Minima quibusdam
                reiciendis nostrum ratione, tenetur aspernatur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">RGB LED Backlit Mechanical Keyboard</h2>
            <span class="product__old-price">160.00 USD</span>
            <span class="product__price">110.00 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_07-1x.jpg 1x,
                  ./images/accessories-page/product_07-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_07-1x.jpg"
                width="285"
                height="276"
                alt="Product 07"
                title="Product 07"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit
                magni tempora temporibus itaque, mollitia alias ut, quod natus
                aut et dignissimos dicta iure.
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">DARSHION 3200 DPI MZ-17 Gaming Mouse</h2>
            <span class="product__old-price">48.00 USD</span>
            <span class="product__price">32.00 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_08-1x.jpg 1x,
                  ./images/accessories-page/product_08-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_08-1x.jpg"
                width="285"
                height="276"
                alt="Product 08"
                title="Product 08"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur, nesciunt nostrum ea itaque beatae, deleniti facilis
                exercitationem cupiditate vel a quam laudantium.
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">
              K569 RGB LED Backlit Mechanical Keyboard
            </h2>
            <span class="product__old-price">156.58 USD</span>
            <span class="product__price">112.16 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_09-1x.jpg 1x,
                  ./images/accessories-page/product_09-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_09-1x.jpg"
                width="285"
                height="276"
                alt="Product 09"
                title="Product 09"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">
              Steampunk Anti-Ghosting Mechanical Keyboard
            </h2>
            <span class="product__old-price">82.40 USD</span>
            <span class="product__price">62.40 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_10-1x.jpg 1x,
                  ./images/accessories-page/product_10-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_10-1x.jpg"
                width="285"
                height="276"
                alt="Product 10"
                title="Product 10"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">Wired Gaming Headphones For PS4</h2>
            <span class="product__old-price">72.65 USD</span>
            <span class="product__price">47.55 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_11-1x.jpg 1x,
                  ./images/accessories-page/product_11-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_11-1x.jpg"
                width="285"
                height="276"
                alt="Product 11"
                title="Product 11"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">HAVIT USB 3.5mm Gaming Headset</h2>
            <span class="product__old-price">65.14 USD</span>
            <span class="product__price">53.98 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_12-1x.jpg 1x,
                  ./images/accessories-page/product_12-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_12-1x.jpg"
                width="285"
                height="276"
                alt="Product 12"
                title="Product 12"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">Somic G936N PS4 Gaming Headset</h2>
            <span class="product__old-price">102.00 USD</span>
            <span class="product__price">66.78 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_13-1x.jpg 1x,
                  ./images/accessories-page/product_13-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_13-1x.jpg"
                width="285"
                height="276"
                alt="Product 13"
                title="Product 13"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">AULA SI9006 Gaming Mouse</h2>
            <span class="product__old-price">89.13 USD</span>
            <span class="product__price">64.13 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_14-1x.jpg 1x,
                  ./images/accessories-page/product_14-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_14-1x.jpg"
                width="285"
                height="276"
                alt="Product 14"
                title="Product 14"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">
              AHXSJ A903 3200 DPI USB Wired Gaming Mouse
            </h2>
            <span class="product__old-price">50.49 USD</span>
            <span class="product__price">32.49 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_15-1x.jpg 1x,
                  ./images/accessories-page/product_15-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_15-1x.jpg"
                width="285"
                height="276"
                alt="Product 15"
                title="Product 15"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">G95 Light Surround Gaming Headset</h2>
            <span class="product__old-price">78.98 USD</span>
            <span class="product__price">50.98 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_16-1x.jpg 1x,
                  ./images/accessories-page/product_16-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_16-1x.jpg"
                width="285"
                height="276"
                alt="Product 16"
                title="Product 16"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">YMDK Double Shot 104 Keyboard</h2>
            <span class="product__old-price">71.77 USD</span>
            <span class="product__price">44.77 USD</span>
          </div>
        </a>
      </li>
      <!-- ====== -->
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_09-1x.jpg 1x,
                  ./images/accessories-page/product_09-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_09-1x.jpg"
                width="285"
                height="276"
                alt="Product 09"
                title="Product 09"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">
              Steampunk Anti-Ghosting Mechanical Keyboard
            </h2>
            <span class="product__old-price">82.40 USD</span>
            <span class="product__price">62.40 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_03-1x.jpg 1x,
                  ./images/accessories-page/product_03-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_03-1x.jpg"
                width="285"
                height="276"
                alt="Product 03"
                title="Product 03"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                libero ab suscipit debitis, facere illum et molestiae, atque,
                dolor eum accusantium. Qui, accusantium!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">
              Malloom 1200 DPI 2.4Ghz Wireless Mouse
            </h2>
            <span class="product__old-price">44.24 USD</span>
            <span class="product__price">29.93 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_11-1x.jpg 1x,
                  ./images/accessories-page/product_11-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_11-1x.jpg"
                width="285"
                height="276"
                alt="Product 11"
                title="Product 11"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">HAVIT USB 3.5mm Gaming Headset</h2>
            <span class="product__old-price">65.14 USD</span>
            <span class="product__price">53.98 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_15-1x.jpg 1x,
                  ./images/accessories-page/product_15-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_15-1x.jpg"
                width="285"
                height="276"
                alt="Product 15"
                title="Product 15"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">G95 Light Surround Gaming Headset</h2>
            <span class="product__old-price">78.98 USD</span>
            <span class="product__price">50.98 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_16-1x.jpg 1x,
                  ./images/accessories-page/product_16-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_16-1x.jpg"
                width="285"
                height="276"
                alt="Product 16"
                title="Product 16"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">YMDK Double Shot 104 Keyboard</h2>
            <span class="product__old-price">71.77 USD</span>
            <span class="product__price">44.77 USD</span>
          </div>
        </a>
      </li>
      <li class="product__card">
        <a href="#">
          <div class="product__img">
            <picture>
              <source
                srcset="
                  ./images/accessories-page/product_13-1x.jpg 1x,
                  ./images/accessories-page/product_13-2x.jpg 2x
                "
              />
              <img
                src="./images/accessories-page/product_13-1x.jpg"
                width="285"
                height="276"
                alt="Product 13"
                title="Product 13"
                class="product__picture"
              />
            </picture>
            <div class="product__text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Distinctio, ab soluta illo repellendus iste quidem dolore,
                similique, repudiandae commodi ea sunt nam consequuntur!
              </p>
            </div>
          </div>
          <div class="product__content">
            <h2 class="product__name">AULA SI9006 Gaming Mouse</h2>
            <span class="product__old-price">89.13 USD</span>
            <span class="product__price">64.13 USD</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="accessories__slider">
      <li class="slider__item"></li>
      <li class="slider__item"></li>
      <li class="slider__item"></li>
      <li class="slider__item"></li>
      <li class="slider__item"></li>
    </ul>
  </div>
</div>
