<!-- <div class="head-temp"></div> -->

<section class="section">
  <!-- <h1 class="visually-hidden">Accessories</h1> -->
  <div class="container__filter">
    <ul class="filter">
      <li class="filter__item">
        <button type="button" class="filter__btn">All</button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn">Headsets</button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn">Keyboards</button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn">Mouses</button>
      </li>
    </ul>
  </div>
</section>
