<!-- <div class="head-temp"></div> -->

<section class="section section--accessories">
  <!-- <h1 class="visually-hidden">Accessories</h1> -->
  <div class="container__filter">
    <ul class="filter">
      <li class="filter__item">
        <button type="button" class="filter__btn current" data-but="All">
          All
        </button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn" data-but="Headset">
          Headsets
        </button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn" data-but="Keyboard">
          Keyboards
        </button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn" data-but="Mouse">
          Mouses
        </button>
      </li>
    </ul>
  </div>
</section>
