<div class="container__title-blog">
  <div class="title__left-blog">
    <h1 class="title__name-blog">Blog</h1>
    <div class="title__b1-blog"></div>
    <div class="title__b2-blog"></div>
  </div>
  <div class="title__right-blog">
    <div class="title__b3-blog"></div>
    <div class="title__b4-blog"></div>
  </div>
</div>

<section class="blog-page">
  <h1 class="visually-hidden"></h1>
  <div class="container">
    <div class="swiper swiper-blog">
      <div class="swiper-wrapper">
        <ul class="blog-list swiper-slide">
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_hie@1x.jpg 1x,
                    ./images/blog-page/desctop/d_hie@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_hie@1x.jpg"
                  alt="hand in eirphones"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title">
                Guide to Picking The Right Gaming Headset
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_hie@1x.jpg 1x,
                      ./images/blog-page/tablet/t_hie@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_hie@1x.jpg 1x,
                      ./images/blog-page/mobile/m_hie@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_hie@1x.jpg"
                    alt="hand in eirphones"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Ray Ian Ampoloquio</h3>
                  <p class="blog-list-suptitle color">
                    Updated on September 21, 2022
                  </p>
                </div>
              </div>
              <p class="blog-list-content-first">
                Learn how to choose an amazing gaming headset with this
                checklist of just 9 surprisingly simple steps.
              </p>
              <p class="blog-list-content">
                Gaming headsets offer a handy and practical solution to any and
                all of your gaming audio needs. But, as with any kind of ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_bp@1x.jpg 1x,
                    ./images/blog-page/desctop/d_bp@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_bp@1x.jpg"
                  alt="black person"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title midle">
                Mic Monitoring: What Is It and How It Is Relevant to Gaming
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_bp@1x.jpg 1x,
                      ./images/blog-page/tablet/t_bp@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_bp@1x.jpg 1x,
                      ./images/blog-page/mobile/m_bp@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_bp@1x.jpg"
                    alt="black person"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Gab L</h3>
                  <p class="blog-list-suptitle color">
                    Updated on September 10, 2022
                  </p>
                </div>
              </div>
              <p class="blog-list-content">
                An explanation and exploration of microphone monitoring — its
                benefits and how you can start using one of the most underrated
                features today ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_mnd@1x.jpg 1x,
                    ./images/blog-page/desctop/d_mnd@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_mnd@1x.jpg"
                  alt="men near display"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title">
                How to Choose the Right Gaming Mouse
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_mnd@1x.jpg 1x,
                      ./images/blog-page/tablet/t_mnd@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_mnd@1x.jpg 1x,
                      ./images/blog-page/mobile/m_mnd@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_mnd@1x.jpg"
                    alt="men near display"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Michael Crider</h3>
                  <p class="blog-list-suptitle color">
                    Updated on September 2, 2022
                  </p>
                </div>
              </div>
              <p class="blog-list-content">
                A good mouse can make a big difference when playing your
                favorite games. Here’s what you need to know about grip styles,
                types of gaming mice, technical specs, and more, before
                purchasing a new gaming mouse ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
        </ul>
        <ul class="blog-list swiper-slide">
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_mnd@1x.jpg 1x,
                    ./images/blog-page/desctop/d_mnd@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_mnd@1x.jpg"
                  alt="men near display"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title">
                How to Choose the Right Gaming Mouse
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_mnd@1x.jpg 1x,
                      ./images/blog-page/tablet/t_mnd@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_mnd@1x.jpg 1x,
                      ./images/blog-page/mobile/m_mnd@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_mnd@1x.jpg"
                    alt="men near display"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Michael Crider</h3>
                  <p class="blog-list-suptitle color">
                    Updated on September 2, 2022
                  </p>
                </div>
              </div>
              <p class="blog-list-content">
                A good mouse can make a big difference when playing your
                favorite games. Here’s what you need to know about grip styles,
                types of gaming mice, technical specs, and more, before
                purchasing a new gaming mouse ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_hie@1x.jpg 1x,
                    ./images/blog-page/desctop/d_hie@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_hie@1x.jpg"
                  alt="hand in eirphones"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title">
                Guide to Picking The Right Gaming Headset
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_hie@1x.jpg 1x,
                      ./images/blog-page/tablet/t_hie@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_hie@1x.jpg 1x,
                      ./images/blog-page/mobile/m_hie@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_hie@1x.jpg"
                    alt="hand in eirphones"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Ray Ian Ampoloquio</h3>
                  <p class="blog-list-suptitle color">
                    Updated on September 21, 2022
                  </p>
                </div>
              </div>
              <p class="blog-list-content-first">
                Learn how to choose an amazing gaming headset with this
                checklist of just 9 surprisingly simple steps.
              </p>
              <p class="blog-list-content">
                Gaming headsets offer a handy and practical solution to any and
                all of your gaming audio needs. But, as with any kind of ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_bp@1x.jpg 1x,
                    ./images/blog-page/desctop/d_bp@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_bp@1x.jpg"
                  alt="black person"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title midle">
                Mic Monitoring: What Is It and How It Is Relevant to Gaming
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_bp@1x.jpg 1x,
                      ./images/blog-page/tablet/t_bp@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_bp@1x.jpg 1x,
                      ./images/blog-page/mobile/m_bp@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_bp@1x.jpg"
                    alt="black person"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Gab L</h3>
                  <p class="blog-list-suptitle color">
                    Updated on September 10, 2022
                  </p>
                </div>
              </div>
              <p class="blog-list-content">
                An explanation and exploration of microphone monitoring — its
                benefits and how you can start using one of the most underrated
                features today ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
        </ul>
        <ul class="blog-list swiper-slide">
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_bp@1x.jpg 1x,
                    ./images/blog-page/desctop/d_bp@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_bp@1x.jpg"
                  alt="black person"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title midle">
                Mic Monitoring: What Is It and How It Is Relevant to Gaming
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_bp@1x.jpg 1x,
                      ./images/blog-page/tablet/t_bp@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_bp@1x.jpg 1x,
                      ./images/blog-page/mobile/m_bp@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_bp@1x.jpg"
                    alt="black person"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Gab L</h3>
                  <h3 class="blog-list-suptitle color">
                    Updated on September 10, 2022
                  </h3>
                </div>
              </div>
              <p class="blog-list-content">
                An explanation and exploration of microphone monitoring — its
                benefits and how you can start using one of the most underrated
                features today ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_mnd@1x.jpg 1x,
                    ./images/blog-page/desctop/d_mnd@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_mnd@1x.jpg"
                  alt="men near display"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title">
                How to Choose the Right Gaming Mouse
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_mnd@1x.jpg 1x,
                      ./images/blog-page/tablet/t_mnd@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_mnd@1x.jpg 1x,
                      ./images/blog-page/mobile/m_mnd@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_mnd@1x.jpg"
                    alt="men near display"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Michael Crider</h3>
                  <h3 class="blog-list-suptitle color">
                    Updated on September 2, 2022
                  </h3>
                </div>
              </div>
              <p class="blog-list-content">
                A good mouse can make a big difference when playing your
                favorite games. Here’s what you need to know about grip styles,
                types of gaming mice, technical specs, and more, before
                purchasing a new gaming mouse ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
          <li class="blog-list-container">
            <div class="img-container">
              <picture class="only-desctop">
                <source
                  srcset="
                    ./images/blog-page/desctop/d_hie@1x.jpg 1x,
                    ./images/blog-page/desctop/d_hie@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="./images/blog-page/desctop/d_hie@1x.jpg"
                  alt="hand in eirphones"
                  width="387px"
                  height="364px"
                  class="blog-img"
                />
              </picture>
            </div>
            <div class="blog-list-item-container">
              <h2 class="blog-list-title">
                Guide to Picking The Right Gaming Headset
              </h2>
              <div class="only-tablet">
                <picture class="only-mobile-tablet">
                  <source
                    srcset="
                      ./images/blog-page/tablet/t_hie@1x.jpg 1x,
                      ./images/blog-page/tablet/t_hie@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-page/mobile/m_hie@1x.jpg 1x,
                      ./images/blog-page/mobile/m_hie@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./images/blog-page/mobile/m_hie@1x.jpg"
                    alt="hand in eirphones"
                    width="320px"
                    height="180px"
                    class="blog-img"
                  />
                </picture>
                <div class="title-container">
                  <h3 class="blog-list-suptitle">By Ray Ian Ampoloquio</h3>
                  <p class="blog-list-suptitle color">
                    Updated on September 21, 2022
                  </p>
                </div>
              </div>
              <p class="blog-list-content-first">
                Learn how to choose an amazing gaming headset with this
                checklist of just 9 surprisingly simple steps.
              </p>
              <p class="blog-list-content">
                Gaming headsets offer a handy and practical solution to any and
                all of your gaming audio needs. But, as with any kind of ...
              </p>
              <a href="./blog-article.html" class="blog-list-suptitle link-blog"
                >Learn more</a
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination swiper-pagination__blog"></div>
    </div>
    <!-- <ul class="blog-slider">
      <li class="slider-item"></li>
      <li class="slider-item"></li>
      <li class="slider-item"></li>
    </ul> -->
  </div>
</section>
