<section class="section">
  <div class="container__title">
    <div class="title__left-contact">
      <h1 class="title__name">Сontacts</h1>
      <div class="title__b1"></div>
      <div class="title__b2"></div>
    </div>

    <div class="title__right-contact">
      <div class="title__b3"></div>
      <div class="title__b4"></div>
    </div>
  </div>
  <div class="container">
    <div class="contacts__img-box">
      <picture>
        <source
          srcset="
            ./images/contacts/contacts_sd-@1x.jpg 1x,
            ./images/contacts/contacts_sd-@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/contacts/contacts_md-@1x.jpg 1x,
            ./images/contacts/contacts_md-@2x.jpg 2x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ./images/contacts/contacts_ld-@1x.jpg 1x,
            ./images/contacts/contacts_ld-@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          src="./images/contacts/contacts_ld-@1x.jpg"
          alt="Ігор Дем'яненко"
          width="1280"
        />
      </picture>
    </div>
    <div class="contacts__info">
      <div class="contacts__info-box">
        <p class="contacts__info-text">
          In case of queries about order handling and/<span
            >or delay, drop us an email at</span
          >
        </p>
        <a class="contacts__link" href="mailto:info@shopforgamers.com"
          >info@shopforgamers.com</a
        >
        <div class="contacts__info-contacts">
          <div class="contacts_info-link">
            <p class="contacts__info-text">Email</p>
            <a
              class="contacts__link contacts__link--secondary"
              href="mailto:Sfg.info@gmail.com"
              >sfg.info@gmail.com</a
            >
          </div>
          <div class="contacts_info-link contacts_info-link--tab">
            <p class="contacts__info-text">Phone number</p>
            <a
              class="contacts__link contacts__link--secondary"
              href="tel:+380936432288"
              >+38 (093) 643 22 88</a
            >
            <a
              class="contacts__link contacts__link--secondary"
              href="tel:+380503454423"
              >+38 (050) 345 44 23</a
            >
          </div>
        </div>
      </div>
      <div class="contacts__form-section">
        <div class="contacts-page__form-group">
          <strong class="contacts__form-name">contact us</strong>
          <form
            class="contacts-form"
            name="call-back-form"
            autocomplete="on"
            novalidate
          >
            <div class="dropdown__group dropdown__group--position" role="group">
              <input
                class="dropdown__input dropdown__input--mT"
                type="text"
                name="username2"
                id="username2"
                placeholder="Nikita Semenov"
                pattern="\w{3,16}"
                required
                minlength="3"
              />
              <label
                class="dropdown__lable dropdown__lable--bot"
                for="username2"
                >Name</label
              >
              <input
                class="dropdown__input"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                placeholder="nikita@gmail.com"
                type="email"
                name="usermail2"
                id="usermail2"
                required
              />
              <label class="dropdown__lable" for="usermail2">Email</label>
            </div>
            <label class="lable-comment" for="text">Leave your message</label>
            <textarea
              class="call-back-textarea"
              name="usermessage"
              id="text"
              cols="15"
              rows="5"
            ></textarea>
            <button
              class="js-open-modal call-back-button"
              type="submit"
              data-modal="3"
            >
              <span class="call-back-button-text">send</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay js-overlay-modal">
    <div class="modal js-modal-close" data-modal="3">
      <button class="modal-cross-btn" type="button">
        <svg class="modal-cross" width="32">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title-ok">
        Thank you <span> for your message!</span>
        <span> We will contact you </span> <span>soon!</span>
      </p>
      <a class="modal-btn" href="./take-order.html">ok</a>
    </div>
  </div>
</section>
