<section class="gallery-container container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <h2 class="gallery-text_des-1">
              One place for<br />everything you want
            </h2>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery_1.jpg    1x,
                ./images/gallery/gallery_1-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-t_1.jpg    1x,
                ./images/gallery/gallery-t_1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-m_1.jpg    1x,
                ./images/gallery/gallery-m_1-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-img"
              src="./images/gallery/gallery_1.jpg"
              alt="Gallery1"
              width="1280"
            />
          </picture>
        </div>
        <div class="swiper-slide">
            <h2 class="gallery-text_des-2">
              High-quality<br />products<br />in lowest price
            </h2>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery_2.jpg    1x,
                ./images/gallery/gallery_2-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-t_2.jpg    1x,
                ./images/gallery/gallery-t_2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-m_2.jpg    1x,
                ./images/gallery/gallery-m_2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-img"
              src="./images/gallery/gallery_2.jpg"
              alt="Gallery2"
              width="1280"
            />
          </picture>
        </div>
        <div class="swiper-slide">
            <h2 class="gallery-text_des-3">
              Best shop for buying<br /><span class="gallery-text_uppercase"
                >gaming products</span
              >
            </h2>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery_3.jpg    1x,
                ./images/gallery/gallery_3-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-t_3.jpg    1x,
                ./images/gallery/gallery-t_3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-m_3.jpg    1x,
                ./images/gallery/gallery-m_3-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-img"
              src="./images/gallery/gallery_3.jpg"
              alt="Gallery3"
              width="1280"
            />
          </picture>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
</section>
