<section class="gallery">
  <div class="gallery-conteiner">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <!-- <picture>
            <source
              srcset="
                ./images/gallery/gallery_1.jpg    1x,
                ./images/gallery/gallery_1-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/portfolio_img/project-1-tab-min.jpg    1x,
                ./images/portfolio_img/project-1-tab-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio_img/project-1-mob-min.jpg    1x,
                ./images/portfolio_img/project-1-mob-2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
          </picture> -->
          <img
            src="./images/gallery/gallery_1.jpg"
            alt="Gallery1"
            width="1280"
          />
        </div>
        <div class="swiper-slide">
          <!-- <picture>
            <source
              srcset="
                ./images/gallery/gallery_2.jpg    1x,
                ./images/gallery/gallery_2-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/portfolio_img/project-1-tab-min.jpg    1x,
                ./images/portfolio_img/project-1-tab-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio_img/project-1-mob-min.jpg    1x,
                ./images/portfolio_img/project-1-mob-2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
          </picture> -->
          <img
            src="./images/gallery/gallery_2.jpg"
            alt="Gallery2"
            width="1280"
          />
        </div>
        <div class="swiper-slide">
          <!-- <picture>
            <source
              srcset="
                ./images/gallery/gallery_3.jpg    1x,
                ./images/gallery/gallery_3-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/portfolio_img/project-1-tab-min.jpg    1x,
                ./images/portfolio_img/project-1-tab-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio_img/project-1-mob-min.jpg    1x,
                ./images/portfolio_img/project-1-mob-2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
          </picture> -->
          <img
            src="./images/gallery/gallery_3.jpg"
            alt="Gallery3"
            width="1280"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</section>
