<div class="header-container">
  <div class="container">
    <div class="burger-wraper">
      <a class="logo" href="./index.html">shop for gamers</a>
      <div class="button-menu-container">
        <div class="burger-menu" data-menu-button>
          <span class="burger-menu-item"> </span>
        </div>
        <a class="mobile-header-link" href="#">Shop now</a>
      </div>
    </div>
    <div class="menu" id="bg-mob" data-menu>
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="./accessories.html">accessories</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="./contacts.html">contact</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="./blog.html">blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<header class="header">
  <div class="container header__container">
    <a class="header__name" href="./index.html">shop for gamers</a>

    <ul class="header__navigation">
      <li class="header__item">
        <a href="./accessories.html" class="header__link">Accessories</a>
      </li>
      <li class="header__item">
        <a href="./contacts.html" class="header__link">Contact</a>
      </li>
      <li class="header__item">
        <a href="./blog.html" class="header__link">Blog</a>
      </li>
    </ul>

    <button class="header__button" type="button">Shop now</button>
  </div>
</header>

<!-- Скрипт на фон мобильного меню -->

<!-- <script src="./js/three.min.js"></script>
<script src="./js/vanta.fog.min.js"></script>
<script src="./js/bgMenu.js"></script> -->
