<div class="modal-container">
  <a href="#" class="js-open-modal links-modal" data-modal="1">buy it now</a>
  <a href="#" class="js-open-modal links-modal" data-modal="2">SEND</a>
  <a href="#" class="js-open-modal links-modal" data-modal="3">OK</a>
  <div class="overlay js-overlay-modal">
    <div class="modal js-modal-close" data-modal="1">
      <button class="modal-cross-btn" type="button">
        <svg
          class="modal-cross"
          width="14.4"
          height="14.4"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.2 0.799805L0.799988 15.1998M0.799988 0.799805L15.2 15.1998"
            stroke="#86E543"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>

      <p class="modal-title-choice">
        Excellent choice! Let's move on to the checkout!
      </p>
      <a class="modal-btn" href="">Let's go!</a>
    </div>

    <div class="modal js-modal-close" data-modal="2">
      <button class="modal-cross-btn" type="button">
        <svg
          class="modal-cross"
          width="14.4"
          height="14.4"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.2 0.799805L0.799988 15.1998M0.799988 0.799805L15.2 15.1998"
            stroke="#86E543"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>

      <p class="modal-title-order">
        Thank you for your order! We will contact you soon!
      </p>
      <a class="modal-btn" href="">Keep shopping</a>
    </div>
    <div class="modal js-modal-close" data-modal="3">
      <button class="modal-cross-btn" type="button">
        <svg
          class="modal-cross"
          width="14.4"
          height="14.4"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.2 0.799805L0.799988 15.1998M0.799988 0.799805L15.2 15.1998"
            stroke="#86E543"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>

      <p class="modal-title-ok">
        Thank you for your message! We will contact you soon!
      </p>
      <a class="modal-btn" href="">ok</a>
    </div>
  </div>
</div>
