<div class="modal-container">
  <a href="#" class="js-open-modal links-modal" data-modal="1">buy it now</a>
  <a href="#" class="js-open-modal links-modal" data-modal="2">SEND</a>
  <a href="#" class="js-open-modal links-modal" data-modal="3">OK</a>
  <div class="overlay js-overlay-modal">
    <div class="modal js-modal-close" data-modal="1">
      <button class="modal-cross-btn" type="button">
        <svg class="modal-cross" width="32">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title-choice">
        Excellent choice! Let's move on <span>to the checkout!</span>
      </p>
      <a class="modal-btn" href="#">Let's go!</a>
    </div>

    <div class="modal js-modal-close" data-modal="2">
      <button class="modal-cross-btn" type="button">
        <svg class="modal-cross" width="32">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>

      <p class="modal-title-order">
        Thank you <span>for your order!</span>
        <span>We will contact you</span> soon!
      </p>
      <a class="modal-btn" href="./accessories.html">Keep shopping</a>
    </div>
    <div class="modal js-modal-close" data-modal="3">
      <button class="modal-cross-btn" type="button">
        <svg class="modal-cross" width="32">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>

      <p class="modal-title-ok">
        Thank you <span> for your message!</span>
        <span> We will contact you </span> <span>soon!</span>
      </p>
      <a class="modal-btn" href="#">ok</a>
    </div>
  </div>
</div>
