<section class="take-order section">
  <div class="container">
    <h2 class="take-order-title">Take order</h2>
    <div class="take-order-container">
      <p class="product-title">Xiberia K9 PRO PC Headset</p>
      <picture class="take-order-main">
        <source
          srcset="./images/take-order-page/mobile/product-mob.jpg 1x, ./images/take-order-page/mobile/product-mob-2x.jpg 2x"
          media="(min-width: 480px)"
        />
        <source
          srcset="./images/take-order-page/tablet/var2-tab.jpg 1x, ./images/take-order-page/tablet/product-tab-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
        srcset="./images/take-order-page/desktop/product.jpg 1x, ./images/take-order-page/desktop/product-2x.jpg 2x"
        media="(min-width: 1200px)"
        />
        <img src="./images/take-order-page/desktop/product.jpg" alt="Технокряк" />
      </picture>
        <ul class="take-order-price-list">
          <li class="take-order-price__item">
            <p class="price__crossed">65.14 USD</p>
          </li>
          <li class="take-order-price__item"><p class="price">55.14 USD</p></li>
        </ul>
        <ul class="take-order-photos">
          <li class="take-order-photos__item">
            <picture>
              <source
                srcset="./images/take-order-page/mobile/var1-mob.jpg 1x, ./images/take-order-page/mobile/var1-mob-2x.jpg 2x"
                media="(min-width: 480px)"
              />
              <source
                srcset="./images/take-order-page/tablet/var1-tab.jpg 1x, ./images/take-order-page/tablet/var1-tab-2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
              srcset="./images/take-order-page/desktop/var1.jpg 1x, ./images/take-order-page/desktop/var1-2x.jpg 2x"
              media="(min-width: 1200px)"
              />
              <img src="./images/take-order-page/desktop/var2.jpg" alt="Технокряк" />
          </picture>   
          </li>
          <li class="take-order-photos__item">
            <picture>
              <source
                srcset="./images/take-order-page/mobile/var2-mob.jpg 1x, ./images/take-order-page/mobile/var2-mob-2x.jpg 2x"
                media="(min-width: 480px)"
              />
              <source
                srcset="./images/take-order-page/tablet/var2-tab.jpg 1x, ./images/take-order-page/tablet/var2-tab-2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
              srcset="./images/take-order-page/desktop/var2.jpg 1x, ./images/take-order-page/desktop/var2-2x.jpg 2x"
              media="(min-width: 1200px)"
              />
              <img src="./images/take-order-page/desktop/var2.jpg" alt="Технокряк" />
          </picture>      
          </li>
          <li class="take-order-photos__item">
            <picture>
              <source
                srcset="./images/take-order-page/mobile/var3-mob.jpg 1x, ./images/take-order-page/mobile/var3-mob-2x.jpg 2x"
                media="(min-width: 480px)"
              />
              <source
                srcset="./images/take-order-page/tablet/var3-tab.jpg 1x, ./images/take-order-page/tablet/var3-tab-2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
              srcset="./images/take-order-page/desktop/var3.jpg 1x, ./images/take-order-page/desktop/var3-2x.jpg 2x"
              media="(min-width: 1200px)"
              />
              <img src="./images/take-order-page/desktop/var3.jpg" alt="Технокряк" />
          </picture>   
          </li>
          <li class="take-order-photos__item">
              <picture>
                <source
                  srcset="./images/take-order-page/mobile/var4-mob.jpg 1x, ./images/take-order-page/mobile/var4-mob-2x.jpg 2x"
                  media="(min-width: 480px)"
                />
                <source
                  srcset="./images/take-order-page/tablet/var4-tab.jpg 1x, ./images/take-order-page/tablet/var4-tab-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                srcset="./images/take-order-page/desktop/var4.jpg 1x, ./images/take-order-page/desktop/var4-2x.jpg 2x"
                media="(min-width: 1200px)"
                />
                <img src="./images/take-order-page/desktop/var4.jpg" alt="Технокряк" />
            </picture>   
          </li>
        </ul>
    </div>
  </div>
</section>
