<section class="take-order section">
    <div class="container">
        <h2 class="take-order-title">Take order</h2>
        <div class="take-order-container">
            <img class="take-order-picture" src="./images/take-order-page/product.jpg" alt="pr">
            <div class="take-order-box">
                <p class="product-title">Xiberia K9 PRO PC Headset</p>
                <ul class="take-order-price-list">
                    <li class="take-order-price__item"><p class="price__crossed">65.14 USD</p></li>
                    <li class="take-order-price__item"><p class="price">55.14 USD</p></li>
                </ul>
                <ul class="take-order-photos">
                    <li class="take-order-photos__item"><img src="./images/take-order-page/v1.jpg" alt="" class="item__photo"></li>
                    <li class="take-order-photos__item"><img src="./images/take-order-page/v2.jpg" alt="" class="item__photo"></li>
                    <li class="take-order-photos__item"><img src="./images/take-order-page/v3.jpg" alt="" class="item__photo"></li>
                    <li class="take-order-photos__item"><img src="./images/take-order-page/v4.jpg" alt="" class="item__photo"></li>
                </ul>
            </div>
        </div>
    </div>
</section>